APP_NAME=api-gateway
FRONTEND_URL=http://localhost:5174
GATEWAY_PORT=3000
USERS_HOST=localhost
USERS_PORT=3001
AUCTIONS_HOST=localhost
AUCTIONS_PORT=3003
MONGODB_URI=mongodb://localhost:27017/auction
RABBITMQ_URL=amqp://localhost:5672
REDIS_URL=redis://localhost:6379
AI_SERVICE_URL=http://localhost:8000
