NODE_ENV=
FRONTEND_URL=
GATEWAY_PORT=
USERS_HOST=
USERS_PORT=
AUCTIONS_HOST=
AUCTIONS_PORT=
MONGODB_URI=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
RABBITMQ_URL=
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
REDIS_HOST=
REDIS_PORT=
JWT_SECRET=
JWT_EXPIRES_IN=